// Bright Mode
$ui_colors_bright_button_info: #4E89F1;
$ui_colors_bright_button_go: #00cc00;
$ui_colors_bright_button_warn: #cccc00;
$ui_colors_bright_button_cancel: #cc0000;
$ui_colors_bright_button_gold: #cca34d;

$ui_colors_bright_magenta: #9e009e;

$ui_colors_bright_shade_0: #FFFFFF;
$ui_colors_bright_shade_1: #FAF9F3;
$ui_colors_bright_shade_2: #e2e0d9;
$ui_colors_bright_shade_3: #AFACA5;
$ui_colors_bright_shade_4: #4F4C4B;
$ui_colors_bright_shade_5: #070707;

// Dark Mode
$ui_colors_dark_button_info: darken(#4E89F1, 20%);
$ui_colors_dark_button_go: darken(#00cc00, 10%);
$ui_colors_dark_button_warn: darken(#cccc00, 10%);
$ui_colors_dark_button_cancel: darken(#cc0000, 10%);
$ui_colors_dark_button_gold: darken(#CCA34D, 10%);

$ui_colors_dark_magenta: #f500f5;

$ui_colors_dark_shade_0: #070707;
$ui_colors_dark_shade_1: #1A1A1B;
$ui_colors_dark_shade_2: #313133;
$ui_colors_dark_shade_3: #A6A8AB;
$ui_colors_dark_shade_4: #D0D2D3;
$ui_colors_dark_shade_5: #F1F1F2;

// Oddly Specific System Colors
$ui_colors_background: #030303;
